.wrapper {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #6c63ff;
    background-color: #f9f9f9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.castList {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.castItem {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    width: 150px;
    transition: transform 0.3s;
}

.castItem:hover {
    transform: translateY(-5px);
}

.profileImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.actorName {
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
    color: #555;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.noCast {
    color: #888;
    text-align: center;
    margin-top: 20px;
}